:root {
}

body,
html {
  overflow-x: hidden;
}

.blog-wrapper {
  main {
    margin-left: 0 !important;
  }
}

.hidden {
  display: none !important;
}


.footer {
  > div:first-child {
    margin-bottom: unset !important;
  }
  > div:nth-child(2) {
    display: none;
  }

  > button {
    display: none;
  }
}

main {
  min-height: 100% !important;
}